@import "./scss/variables";
@import "./scss/mixins";

/********** VARIABLE **************/
$gauche: #E6E6CF;
$textcap: #A6A66C;
$parcour: #538080;


/********** MIXIN **************/
@mixin colorblue ($color){
    color: $parcour;
}

/********** BODY **************/
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/********** NAV **************/
.nav {background-color: $blue;}



.nav-link {color: $indigo;}

/********** CV **************/
.grid-containerCV{
    display: grid;
    grid-template-columns: 300px 300px; 
    grid-template-rows: 300px 300px 300px 300px; 
    
    gap: 10px;
}

.col_gauche{
    
    grid-row-start: 1;
    grid-row-end: 6;
    background-color: $gauche;
}

img{margin: 15px 70px 15px 70px;
    
}

.adobe{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.logiciel2{
    
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: black;
    color: white;
    ul{padding: 3px;
        li{margin: 2px;}
    }
}

.parcours{
    
    grid-column: 2/4;
    grid-row: 2/5;
    padding: 5px;
}

h2{margin: 10px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
@include colorblue(h2);}

h5{color: $textcap;}

h3 {font-size: 30px;}


    
  

ul li{
    list-style: none;
}

.btn{
    padding: 5px;
    margin-top: 5px;
}

h4{color: $parcour;}



.black{
    color: black;
    }

p{
    margin-left: 20px;
}


/********** PAGE SASS **************/

.bordeaux {display: flex;
    justify-content: space-between;
    
    margin-top: 20px;
}

.lyon {display: flex;
    justify-content: space-between;
    
    margin-top: 20px;
}

.info {border: 1px solid red;}

.forme {margin: 5px 5px;}


.entre {margin: 10px;}














/********** HEADER TITRE **************/
h1 {color:$indigo;}




/**********     GRID 1 ************/
.grid-container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px 200px;
    background: linear-gradient(to top, #538080, white,);
}

.box1 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.box2 {
    grid-column-start: 3;
    grid-column-end: 4;
    
    
}

.box3 {
    grid-column-start: 4;
    grid-column-end: 5;
    
    
}

.box4 {
    grid-column-start: 5;
    grid-column-end: 6;
   
    
}

.box5 {
    grid-column-start: 2;
    grid-column-end: 3;
    
    
}




















/**********     GRID AREA ************/



.grid-container2{
    display: grid;
    grid-template-areas: 
    "I I I"
    "M I3 I4"
    "I5 I5 I5";
    gap: 5px;
}


.item10{
    grid-area: I;
}

.menu{
    grid-area: M;
    margin-right: 25px;
}

.directionl{
    width: 100px;
    margin: auto;

}



.item11{
    grid-area: I3;
}

.item12{
    grid-area: I4;
    text-align: center;
    padding: 10px;
    background-color: cornflowerblue;
}

.item13{
    grid-area: I5;
    background-color: darkslategrey;
    padding: 5px;
    color: white;
}

.products{
    display: flex;
    background-color: coral;
    padding: 5px;
}

.products > *{
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}